# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# TensorBoard
# ==========================================
logs/
tensorboard_logs/

# ==========================================
# Dataset
# ==========================================
dataset/
data/
datasets/

# ==========================================
# NumPy files
# ==========================================
*.npy
*.npz

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Cache
# ==========================================
.cache/
.pytest_cache/
.mypy_cache/

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*

# ==========================================
# Logs
# ==========================================
*.log
*.tmp
*.bak